<div class= 'container'>
  <div class = 'child'>
    <br>
    <h1>3分で作れるおつまみレシピ</h1>
    <h2>今日のおつまみは何にしよう</h2>
    <br>
    <div>
      <p>下のボタンからおつまみがランダムで選ばれるよ</p>
      <%= link_to 'スタート', "#", class: "btn" %>
    </div>
  </div>
</div>
