<div class="text-center">
  <br>
  <h1>5分で作れるおつまみレシピ</h1>
  <h2>今日のおつまみは何にしよう</h2>
  <br>
  <div>
    <p>下のボタンからおつまみがランダムで選ばれるよ</p>
    <%= link_to 'スタート', recipes_show_path, class: "btn btn-danger" %>
  </div>
</div>
