<div class="text-center">
  <audio autoplay loop >
    <source src="/sounds/failure.mp3" type="audio/mp3">
  </audio>
  <h1 class="mb-3">残念、ミッション失敗だー！</h1>
  <h5>でも料理のレベルは昨日よりUPしてるはず！</h5>
  <h5>明日も待ってるよ〜！</h5>

  <p><%= link_to '悔しい〜！もう一品作っちゃう？', root_path, class: "btn btn-success mt-3" %></p>
</div>