<div class="timer">
  <h2>タイマー</h2>
  <div class="timer-input">
    <input type="text" value="0" />秒
  </div>
  <p id="js-timerTime">00:00:00</p>
  <input id="js-timerStart" type="button" value="開始" />
  <input id="js-timerStop" type="button" value="停止" disabled />
  <input id="js-timerResset" type="button" value="リセット" disabled />
</div>