<div class="timer">
  <h2>タイマー</h2>
  <p id="js-timerTime">00:00:00</p>
  <input id="js-timerStart" type="button" value="スタート" />
  <input id="js-timerStop" type="button" value="一旦心を落ち着かせる" disabled />
  <input id="js-timerResset" type="button" value="リセット" disabled />
</div>
<%= javascript_include_tag 'timer'%>