<div class="text-center">
  <div class="wrapper">
    <div class="typing-text">
      <h1>Mission: 時間内に料理を完成させよ</h1>
    </div>
  </div> 
  <div class="card bg-info mx-auto timer">
    <div class="card-body">
      <h5 class="card-title">タイマー</h5>
      <h1 id="js-timerTime" class="display-1 bg-light">05:00</h1>
      <div class="btn-group mt-3" role="group">
        <button id="js-timerStart" type="button" class="btn btn-danger">スタート</button>
        <button id="js-timerStop" type="button" class="btn btn-primary" disabled>ほっと一息</button>
        <button id="js-timerResset" type="button" class="btn btn-secondary" disabled>やり直し</button>
        <button id="js-timerComplete" type="button" class="btn btn-warning">できた！</button>
      </div>
    </div>
  </div>
  <p><%= link_to 'トップへ戻る', root_path, class: "btn btn-success mt-2" %></p>
</div>
<%= javascript_include_tag 'timer', "data-turbo-track": "reload"%>