@import "bootstrap";

body {
  height: 100vh;
  background-image: url('cooking.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #000; /* テキストの色を適切なものに設定 */
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.credit {
  font-size: 10px;
  position: fixed;
  right: 0;
  bottom: 0;
}

.card {
  width: 500px;
  height: 530px;
  overflow: auto;
}

.card-img-top {
  width: 100%; /* 画像も画面幅いっぱいに広げる */
  height: 267px; /* 高さを自動調整する */
}

@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    background-size: cover;
  }
  .card {
    width: 300px;
    height: 400px; /* 高さを自動調整する */
    overflow: auto;
  }

  .card-img-top {
    width: 100%; /* 画像も画面幅いっぱいに広げる */
    height: 200px; /* 高さを自動調整する */
  }
}

